<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logo_area">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" id="img_logo">
        </div>

        <div id="form_area">
            <form action="">
                <input type="text" name="search" id="search" placeholder="O que está procurando?">
            </form>
            <img src="{{ url_for('static', filename='img/lupa.png') }}" alt="" class="img_header">
        </div>

        <div id="personal_area">
            <div id="login_area">
                <div>
                    <img src="{{ url_for('static', filename='img/icon_person.png') }}" alt="" class="img_header">
                    <a href="">Minha conta</a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='img/cart.png') }}" alt="" class="img_header">
                    1
                </div>
            </div>

            <div id="lang_area">
                <img src="{{ url_for('static', filename='img/br.png') }}" alt="" class="img_flag">
                <img src="{{ url_for('static', filename='img/es.png') }}" alt="" class="img_flag">
                <img src="{{ url_for('static', filename='img/gb.png') }}" alt="" class="img_flag">
            </div>
        </div>

    </header>
    <div id="slide">
        <div id="slide_txt">
            <img src="{{ url_for('static', filename='img/left_arrow.png') }}" alt="">
            <p>Nossa especialidade: experiencia de compra.</p>
        </div>
            <div id="div_cor">
            <img src="{{ url_for('static', filename='img/right_arrow.png') }}" alt="">
        </div>
    </div>
    <div id="produto">
        <p id="produto_header">Produtos</p>
        <div id="slide_prod">
            <img src="{{ url_for('static', filename='img/black_left.png') }}" alt="" class="arrow_prod">
            <div id="lista_produto">
                <div id="card_produto">
                    <img src="{{ url_for('static', filename='img/tenis.png') }}" alt="" id="img_compra">
                    <h2>NOME DO TENIS</h2>
                    <div>estrelas</div>
                    <h4>de R$ xxx</h4>
                    <h1>por R$ preço</h1>
                    <h3>ou em Xx de R$ parcelas</h3>
                    <button id="button_compra"><img src="{{ url_for('static', filename='img/cart_compra.png') }}" alt="" class="img_header"> COMPRAR</button>
                </div>
            </div>
            <img src="{{ url_for('static', filename='img/black_right.png') }}" alt="" class="arrow_prod">
        </div>
    </div>  
    <footer>
        <h1 id="footer_h">Localização</h1>

        <div id="retangulo"></div>

        <div id="conteudo">
            <div class="contact">
                <p class="text_maior">São Paulo</p>
                <p>Rua do Rócio, 423/1801</p>
                <p>Vila Olímpia - SP</p>
                <p>04552-000</p>
                <p>+55 11  3333 3333</p>
            </div>

            <div class="contact">
                <p class="text_maior">Rio de Janeiro</p>
                <p>Vol. da Pátria, 301/702</p>
                <p>Botafogo - RJ</p>
                <p>22270-000</p>
                <p>+55 21 3333 3333</p>
            </div>

            <div id="em_contato">
                <button class='bt_cont'>
                    <img src="{{ url_for('static', filename='img/mail.png') }}" alt="" class="img_ft">
                    ENTRE EM CONTATO
                </button>
                
                <button class='bt_cont'>
                    <img src="{{ url_for('static', filename='img/phone.png') }}" alt="" class="img_ft">
                    FALE COM O NOSSO CONSULTOR ONLINE
                </button>

            </div>
            <div id="by">
                <img src="{{ url_for('static', filename='img/by.png') }}" alt="">
            </div>


        </div>
    </footer>  
</body>
</html>